.header {
    background: $crimson_sky;
    margin-bottom: $l-size;
    padding: $s-size;
}

.header__title {
    color: white;
    font-size: $xl-size;
    margin: 0;
    margin-bottom: $s-size;
}

.header__subtitle {
    color: $ultramarine;
    font-size: $l-size;
    font-weight: 700;
    margin: 0;
}
