.location {
    padding: $m-size;    
}

.location__row {
    display: flex;
    justify-content: space-between;
}

.location__input {
    background: darken(white, 15%);
    border-radius: 6px;
    flex-grow: 1;
    color: $ultramarine;
    border: none;
    border-bottom: .3rem solid darken(white, 60%);
    margin-right: $s-size;
    padding: $s-size;
}

.app-button {
    background: $indigo;
    border: none;
    border-bottom: .3rem solid lighten($indigo, 15%);
    border-radius: 6px;
    color: white;
    font-weight: 700;
    padding: $s-size;
}

.app-button--block {
    border: none;
}

.link {
    background: $indigo;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    padding: $s-size;
    text-decoration: none;
}

.link:hover {
    background: $off_white;
    color: $ultramarine;
}