*:focus {
    outline: none;
}

input:focus {
    background: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

html {
    font-size: 62.5%;
}

body {
    background: $indigo;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}
